name: Terraform Deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::304321521963:role/github-actions-terraform
          aws-region: us-east-1

      - name: Terraform Init
        working-directory: infra
        run: terraform init

      - name: Terraform Validate
        working-directory: infra
        run: terraform validate

      - name: Terraform Apply
        working-directory: infra
        run: |
          terraform apply -auto-approve \
            -var="image_tag=${{ github.sha }}"

      - name: Post-deploy check
        run: |
          curl -f https://tm.ahmedo.co.uk
